/** Common elements **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    padding: 15px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #666666;
    white-space: nowrap;
}

a:hover {
    color: #050708;
    cursor: pointer;
}

h1 {
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

.section__title {
    margin-bottom: 50px;
    align-self: center;
    font-size: 2rem;
}

/** Nav bar**/
header {
    position: fixed;
    background-color: #f8dc08;
    height: 10vh;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    margin-left: auto;
    
    height: 100%;
}

nav ul li {
    padding-left: 2.15rem;
    padding-right: 2.15rem;
    font-weight: 600;
}

.icon {
    display: none;
}

.features, .clients {
    padding: 15px;
    justify-content: center;
    flex-direction: column;
}
figure {
    margin: 0;
    height: 100%;
}

/** Banner **/
.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cars.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.heading {
    font-size: 2rem;
    color: white;
    max-width: 80%;
}

button {
    border: 2px solid #f8dc08;
    background-color: transparent;
}

button:hover {
    background-color: #f8dc08;
    color: #050708
}

.button-large {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 1rem 2rem;
}

/**Features **/

.features__items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
}

.fetures__item {
    max-width: 300px;
    text-align: center;
    padding: 10px;
}

.fetures__item:hover {
    background-color: #f8dc08;
}

.fetures__item img {
    width: 80%;
    margin-bottom: 1rem;
}

/**Clients**/
.clients__items {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    align-items: center;
    flex-flow: row wrap;
}

.clients__item {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}
.clients__item img {
    position: relative;
    width: 100%;
    z-index: -1;
}

.client__description {
    padding: 1rem;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 99;
    color: white;
}

.client__description h3 {
    border-bottom: 2px solid #f8dc08;
}

/**Footer**/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    background: #666666;
    padding-top: 15px;
}

footer ul li a {
    display: block;
    padding: 1rem 2.15rem 1rem 0;
    font-size: 1rem;
    color: #f8dc08;
}

footer ul li {
    display: inline-block;
    vertical-align: top;
}

/**Media queries**/
@media (min-width: 576px) {
}

@media (min-width: 768px) { }

@media (min-width: 992px) {
    .container {
        padding: 50px;
    }

    .features, .clients  {
        padding: 50px;
    }

    nav {
        display: inline-block;
    }
    .clients__item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1920px) {
    .clients__item {
        width: 25%;
    }
}

